@charset "UTF-8";
/* Estilos generales para el header */
body {
  margin: 0; /* Sin margen en el cuerpo */
  padding: 0;
  align-items: center;
  background-color: #350000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #860000; /* Color de fondo del header */
  color: white; /* Color de texto del header */
}

/* Estilos para el logo */
.logo img {
  height: 80px; /* Altura del logo */
}

/* Estilos para la navegación */
.nav {
  flex-grow: 1; /* La navegación ocupa todo el espacio disponible */
}

.nav-list {
  list-style: none; /* Quita los estilos de lista */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
}

.nav-item {
  margin: 0 10px; /* Espaciado entre los elementos de navegación */
}

.nav-item a {
  text-decoration: none;
  color: white; /* Color del texto del enlace */
  padding: 5px 10px;
  border-radius: 5px; /* Borde redondeado para los enlaces */
}

.nav-item a:hover {
  background-color: #555; /* Color de fondo al pasar el cursor sobre los enlaces */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column; /* Cambia la dirección de la lista a columna */
    align-items: center; /* Centra los elementos verticalmente */
  }
  .nav-item {
    margin: 10px 0; /* Ajusta el espaciado entre elementos en dispositivos móviles */
  }
}


.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 450px; /* Altura del banner */
}

.slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}

.active {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  width: auto;
}

#container {
  text-align: center;
}

/* Estilo para el botón */
#toggleIconsBtn {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para el contenedor de iconos */
#iconContainer {
  display: none; /* Inicialmente oculto */
  margin-top: 20px;
}

/* Estilo para cada icono */
.icon {
  display: inline-block;
  margin-right: 10px;
}

/* Estilo para las imágenes de los iconos */
.icon img {
  width: 100px; /* Tamaño más grande para los iconos */
  height: 100px; /* Tamaño más grande para los iconos */
  border-radius: 50%; /* Hacer que las imágenes sean circulares */
  border: 2px solid transparent;
  transition: border-color 0.3s ease; /* Transición suave para el borde al pasar el ratón */
}

/* Efecto de borde al pasar el ratón sobre los iconos */
.icon img:hover {
  border-color: #007bff; /* Color del borde al pasar el ratón */
}

/* Para mostrar los iconos cuando se hace clic en el botón */
#iconContainer.show {
  display: block;
}

/* Estilos CSS para la sección de novedades */
/* Estilos CSS para la sección de novedades */
.novedades {
  text-align: center;
  margin-top: 20px;
}

.novedades h2 {
  font-size: 2.5rem;
  color: #007bff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.novedades .cartas-container {
  display: flex;
  flex-wrap: wrap; /* Permitir que las cartas se envuelvan en pantallas pequeñas */
  justify-content: center; /* Centrar las cartas horizontalmente */
  gap: 20px; /* Espacio entre las cartas */
}

.novedades .carta {
  width: calc(50% - 20px); /* Ancho relativo para que ocupe el 50% del contenedor con espacio entre cartas */
  max-width: 300px; /* Limita el ancho máximo de la carta */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.novedades .carta h3 {
  font-size: 1.5rem;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.novedades .carta p {
  font-size: 1rem;
  margin-bottom: 10px;
  overflow-wrap: break-word; /* Hace que el texto se ajuste automáticamente y se divida en palabras */
}

.novedades .carta img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Estilos para los botones izquierda y derecha */
.btn-izquierda,
.btn-derecha {
    margin-bottom: 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s; /* Agregar transición para el cambio de transformación */
}

/* Aplicar zoom al pasar el ratón sobre los botones */
.btn-izquierda:hover,
.btn-derecha:hover {
    transform: scale(1.1); /* Aumentar el tamaño del botón al 110% */
}











.footer {
  background-color: #be0000;
  color: #fff;
  padding: 30px 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content {
  flex: 1;
}

.footer-content h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-content p {
  margin: 0;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.footer-bottom {
  background-color: #750000;
  text-align: center;
  padding: 10px 0;
}

.social-icons i:hover {
  transform: scale(1.2); /* Ajusta el valor según lo grande que quieras que se agrande el icono */
}














/* Estilos generales */


h1 {
  text-align: center;
  margin-top: 20px;
  color: #ff0000;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: text-shadow 0.3s ease;
}

/* Estilos para la lista de juegos */

/* Animación fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeInUp 0.5s ease forwards; /* Aplica la animación */
}

.game-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.game-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}







.game-title {
  font-weight: bold;
  margin-top: 10px;
  color: #1d0653;
}

.game-price {
  color: green;
  margin-top: 5px;
}

.game-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.game-button:hover {
  background-color: #0056b3;
}

/* Estilos para el carrito */
#cart {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
  font-family: "Arial Black", sans-serif;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

#cart-items li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#cart-items li:last-child {
  border-bottom: none;
}

#total {
  text-align: right;
  margin-top: 10px;
  color: #555;
}

#total-amount {
  font-weight: bold;
}

#buy-button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s ease;
}

#buy-button:hover {
  background-color: #6e0000;
}

/* Estilos para los filtros */
#search-container {
  display: flex;
  justify-content: flex-start; /* Alinear los elementos a la derecha */
  padding: 10px;
}

#searchInput,
#categoryFilter {
  margin-left: 10px; /* Espacio entre los elementos */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

@media (max-width: 768px) {
  #search-container {
    justify-content: center; /* Alinear los elementos al centro */
    flex-direction: column; /* Alinear los elementos en columna */
    align-items: center; /* Centrar horizontalmente */
  }

  #searchInput,
  #categoryFilter {
    margin: 10px 0; /* Espacio entre los elementos */
    width: auto; /* Ancho automático para adaptarse al contenido */
  }
}



.game-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-bottom: 50px;
}

.game-info {
  flex: 1;
  padding-right: 50px;
}

.game-info h2 {
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 30px;
}

.game-info p {
  margin: 0;
  font-size: 24px;
  line-height: 1.8;
  color: #ffffff;
}

.game-image img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
}

#buy-game-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#buy-game-button:hover {
  background-color: #0056b3;
}


/*# sourceMappingURL=styles.css.map */