/* Estilos para la cuadrícula de juegos */
/* Estilos para la cuadrícula de juegos */
/* Estilos para la cuadrícula de juegos */
/* Estilos para el contenedor del catálogo */
/* Estilos para el contenedor del catálogo */
#catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Tamaño mínimo de 180px y máximo del tamaño disponible */
    grid-gap: 10px; /* Espacio entre las tarjetas */
    border-top: 2px solid #ccc; /* Línea superior */
    border-bottom: 2px solid #ccc; /* Línea inferior */
    padding: 10px; /* Espacio interno */
    margin-top: 10px; /* Margen superior */
    margin-bottom: 10px; /* Margen inferior */
    margin-left: 80px; /* Margen izquierdo */
    margin-right: 80px; /* Margen derecho */
  }
  
  .games {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px; /* Altura fija para todas las tarjetas */
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .games img {
    width: 100%;
    height: 70%; /* Altura de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo la proporción */
  }
  
  .descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px; /* Espacio interno */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .games:hover .descripcion {
    opacity: 1;
  }
  
  .games:hover {
    transform: scale(1.02); /* Reducir la escala al pasar el cursor */
    transition: transform 0.3s ease-in-out;
  }
  
  /* Estilos para el nombre del juego dentro de .nombre-consola */
  .nombre-consola h3 {
    font-size: 14px; /* Tamaño de fuente */
    margin: 5px 0; /* Margen superior e inferior */
    font-weight: bold; /* Negrita */
    color: #ff0000;
  }
  
  /* Estilos para la consola dentro de .nombre-consola */
  .nombre-consola p {
    font-size: 12px; /* Tamaño de fuente */
    margin: 0; /* Eliminar el margen */
    color: #000000; /* Color de texto */
  }
  
  
  /* Añadir animación para la aparición de los juegos */
  @keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Añadir una clase para aplicar la animación */
  .aparecer {
    animation: aparecer 0.5s ease-out;
  }
  
  /* Estilos para la página de detalle del juego */
  
  /* Estilos para la página de detalle del juego */
  
  #detalleJuego {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #detalleJuego img {
    width: 300px; /* Tamaño deseado para las imágenes */
    height: 200px; /* Ajusta la altura según tus necesidades */
  }
  
  /* Estilos para el texto */
  #juegoNombre {
    font-weight: bold; /* Hace que el texto del nombre del juego sea negrita */
    color: #333; /* Cambia el color del texto a gris oscuro */
  }
  
  #juegoDescripcion {
    color: #666; /* Cambia el color del texto de la descripción a gris */
    font-style: italic; /* Aplica estilo cursiva al texto de la descripción */
  }
  
  #descargarBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #descargarBtn:hover {
    background-color: #0056b3;
  }
  
  #enlaceDescarga {
    display: block;
    font-size: 16px;
    color: #ff0000;
    text-decoration: none;
    margin-top: 10px;
  }
  
  #enlaceDescarga:hover {
    color: #0056b3;
  }
  
  #horaActual {
    font-size: 24px;
    font-weight: bold;
    color: #b40000;
    margin-top: 20px;
    text-align: center; /* Centrar el texto */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    transition: transform 0.3s ease; /* Agregar una transición */
  }
  
  
  
  
  
  
  